.wrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  &::before {
    content: '';
    width: 40px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: transparent;
  }
}

.icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}