@import "../../scss/mixins/rem";

.wrapper {
  position: absolute;
  top: 50%;
  right: rem(10);
  transform: translateY(-50%);

  &::before {
    content: '';
    width: rem(40);
    height: rem(35);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: transparent;
  }
}

.icon {
  cursor: pointer;
  width: rem(24);
  height: rem(24);
}