@import "../../../scss/mixins/rem";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  cursor: pointer;
  padding: 0 rem(5);

  &[disabled] {
    pointer-events: none;
    cursor: none;
  }
}

.startIcon {
  display: flex;
  align-items: center;
  justify-content: left;
}

.endIcon {
  display: flex;
  align-items: center;
  justify-content: right;
}
