@import "../../scss/mixins/rem";

.icons {
  display: flex;
  align-items: center;

  @media (max-width: 765px) {
    display: none;
  }
}

.icon {
  font-size: rem(20);
  background-color: #F2F2F2;
  padding: rem(7);
  cursor: pointer;
  margin-right: rem(15);
  border-radius: rem(5);

  &_active {
    color: #fff;
    background-color: #26A9E0;
  }
}