@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap');
@import "scss/normalize.css";
$baseFontSize: 16px;

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

body {
  //display: flex;
  //flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: $baseFontSize;
  height: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  height: 100%;
  flex: 1 0 auto;
}




