.book {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;

  &_row {
    flex-direction: row;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 35px;
    margin-bottom: 15px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      row-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      column-gap: 0;
      grid-template-columns: 1fr;
    }

    &_row {
      grid-template-columns: 1fr;
      row-gap: 30px;
      column-gap: 0;
    }
  }

  &:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 12%), 0 0 8px rgb(0 0 0 / 4%);
  }
}

.books-view {
  margin-bottom: 20px;
}

.cover {
  text-align: center;
  margin-bottom: 15px;

  &-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-img {
    width: 130px;
    height: 185px;
    object-fit: cover;
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_row {
    margin-left: 30px;
  }
}

.info {
  flex: 1 0 auto;
  margin-bottom: 10px;
}

.title {
  display: block;
  text-decoration: none;
  margin-bottom: 7px;
  color: black;
}

.author {
  color: #737373;
  font-size: 14px;
  margin-bottom: 15px;
}

.price {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.description {
  font-size: 14px;
  margin-bottom: 15px;
}

.btn-buy {
  width: 160px;
  height: 40px;
}

.scroll-loader {
  text-align: center;
}