@import "../../../scss/mixins/rem";

.title {
  padding-left: rem(8);
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: rem(28);

  @media (max-width: 768px) {
    font-size: rem(25);
  }

  @media (max-width: 425px) {
    font-size: rem(20);
  }
}
