@import "../../scss/mixins/rem";

.favorites {
  &__link {
    text-decoration: none;
    color: #fff;
    font-size: rem(25);
    transition: all 0.2s;

    &:hover {
      color: #61DAFB;
    }
  }
}