@import "../../../scss/mixins/rem";

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: "Montserrat";
    font-weight: 500;
}

h1 {
    font-size: rem(32);
}

h2 {
    font-size: rem(24);
}

h3 {
    font-size: rem(18);
}

h4 {
    font-size: rem(16);
}

h5 {
    font-size: rem(13);
}

h6 {
    font-size: rem(10);
}