.header {
  background-color: #20232A;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  min-height: 60px;
  padding: 15px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.search {
  flex: 0 1 50%;

  @media (max-width: 768px) {
    margin-top: 10px;
    flex: 0 1 100%;
    order: 2;
  }
}

.profile {
  &:not(:last-child) {
    margin-right: 20px;
  }


  &__link {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: #61DAFB;
    }
  }
}


.menu {
  display: flex;

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;

    &:hover {
      color: #61DAFB;
    }
  }
}

@media (max-width: 425px) {
  .profile {
    margin-right: 13px;
  }

  .profile__link {
    font-size: 22px;
  }
}