@import "../../scss/mixins/rem";

.header {
  background-color: #20232A;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  min-height: rem(60);
  padding: rem(15) 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.search {
  flex: 0 1 50%;

  @media (max-width: 768px) {
    margin-top: rem(10);
    flex: 0 1 100%;
    order: 2;
  }
}