@import "../../scss/mixins/rem";

.header {
  background-color: #20232A;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  min-height: rem(60);
  padding: rem(15) 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.search {
  flex: 0 1 50%;

  @media (max-width: 768px) {
    margin-top: rem(10);
    flex: 0 1 100%;
    order: 2;
  }
}

.profile {
  &:not(:last-child) {
    margin-right: rem(20);
  }


  &__link {
    color: #fff;
    font-size: rem(25);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: #61DAFB;
    }
  }
}


.menu {
  display: flex;

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: rem(20);
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;

    &:hover {
      color: #61DAFB;
    }
  }
}

@media (max-width: 425px) {
  .profile {
    margin-right: rem(13);
  }

  .profile__link {
    font-size: rem(22);
  }
}