@import "../../../scss/mixins/rem";

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

.btn {
  padding: rem(10) rem(25);
}

.desc {
  margin: rem(20) 0;
}