@import "../../../scss/mixins/rem";

.btn {
  color: #fff;
  border-radius: rem(5);
  font-weight: 500;
  color: #fff;
  background-color: #7572f8;
  transition: all 0.4s;

  &:disabled {
    opacity: 0.6;
  }

  &:hover {
    background-color: #403866;
  }
}